<link rel="stylesheet" type="text/css" href="magic2.css">

<div class="header"><h1>Camp Magic</h1></div>
<div class="bracket-container">
  <div class="bracket-level">
    <div class="bracket-matchup"></div>
    <div class="bracket-matchup">
      <div class="bracket-team winner">
        <div class="bracket-name"><input>     </input></div><div class="bracket-score"></div>
      </div>
      <div class="bracket-team loser">
        <div class="bracket-name"><input>     </input></div><div class="bracket-score"></div>
      </div>
    </div>
    <div class="bracket-matchup"></div>
    <div class="bracket-matchup">
      <div class="bracket-team loser">
        <div class="bracket-name"><input>     </input></div><div class="bracket-score"></div>
      </div>
      <div class="bracket-team winner">
        <div class="bracket-name"><input>     </input></div><div class="bracket-score"></div>
      </div>
    </div>
    <div class="bracket-matchup"></div>
    <div class="bracket-matchup">
      <div class="bracket-team winner">
        <div class="bracket-name"><input>     </input></div><div class="bracket-score"></div>
      </div>
      <div class="bracket-team loser">
        <div class="bracket-name"><input>     </input></div><div class="bracket-score"></div>
      </div>
    </div>
    <div class="bracket-matchup"></div>
    <div class="bracket-matchup">
      <div class="bracket-team winner">
        <div class="bracket-name"><input>     </input></div><div class="bracket-score"></div>
      </div>
      <div class="bracket-team loser">
        <div class="bracket-name"><input>     </input></div><div class="bracket-score"></div>
      </div>
    </div>
  </div>
  <div class="bracket-level">
    <div class="bracket-matchup">
      <div class="bracket-team winner">
        <div class="bracket-name"><input>     </input></div><div class="bracket-score"></div>
      </div>
      <div class="bracket-team loser">
        <div class="bracket-name"><input>     </input></div><div class="bracket-score"></div>
      </div></div>
    <div class="bracket-matchup">
      <div class="bracket-team winner">
        <div class="bracket-name"><input>     </input></div><div class="bracket-score"></div>
      </div>
      <div class="bracket-team loser">
        <div class="bracket-name"><input>     </input></div><div class="bracket-score"></div>
      </div>
    </div>
    <div class="bracket-matchup">
      <div class="bracket-team winner">
        <div class="bracket-name"><input>     </input></div><div class="bracket-score"></div>
      </div>
      <div class="bracket-team loser">
        <div class="bracket-name"><input>     </input></div><div class="bracket-score"></div>
      </div>
    </div>
    <div class="bracket-matchup">
      <div class="bracket-team winner">
        <div class="bracket-name"><input>     </input></div><div class="bracket-score"></div>
      </div>
      <div class="bracket-team loser">
        <div class="bracket-name"><input>     </input></div><div class="bracket-score"></div>
      </div>
    </div>
  </div>
  <div class="bracket-level">
    <div class="bracket-matchup">
      <div class="bracket-team winner">
        <div class="bracket-name"><input>     </input></div><div class="bracket-score"></div>
      </div>
      <div class="bracket-team loser">
        <div class="bracket-name"><input>     </input></div><div class="bracket-score"></div>
      </div>
    </div>
    <div class="bracket-matchup">
      <div class="bracket-team winner">
        <div class="bracket-name"><input>     </input></div><div class="bracket-score"></div>
      </div>
      <div class="bracket-team loser">
        <div class="bracket-name"><input>     </input></div><div class="bracket-score"></div>
      </div>
    </div>
  </div>
  <div class="bracket-level">
    <div class="bracket-matchup">
      <div class="bracket-team">
        <div class="bracket-name"><input>     </input></div><div class="bracket-score"></div>
      </div>
      <div class="bracket-team">
        <div class="bracket-name"><input>     </input></div><div class="bracket-score"></div>
      </div>
    </div>
  </div>
  <div class="bracket-level">
    <div class="bracket-matchup">
      <div class="bracket-team">
        <div class="bracket-name"></div>
        <div class="bracket-score"></div>
      </div>
      <div class="bracket-team">
        <div class="bracket-name"><input>     </input></div>
        <div class="bracket-score">--</div>
      </div>
    </div>
  </div>
  <div class="bracket-level">
    <div class="bracket-matchup">
      <div class="bracket-team loser">
        <div class="bracket-score"></div><div class="bracket-name"><input>     </input></div>
      </div>
      <div class="bracket-team winner">
        <div class="bracket-score"></div><div class="bracket-name"><input>     </input></div>
      </div>
    </div>
  </div>
  <div class="bracket-level">
    <div class="bracket-matchup">
      <div class="bracket-team winner">
        <div class="bracket-score"></div><div class="bracket-name"><input>     </input></div>
      </div>
      <div class="bracket-team loser">
        <div class="bracket-score"></div><div class="bracket-name"><input>     </input></div>
      </div>
    </div>
    <div class="bracket-matchup">
      <div class="bracket-team loser">
        <div class="bracket-score"></div><div class="bracket-name"><input>     </input></div>
      </div>
      <div class="bracket-team winner">
        <div class="bracket-score"></div><div class="bracket-name"><input>     </input></div>
      </div>
    </div>
  </div>
  <div class="bracket-level">
    <div class="bracket-matchup">
      <div class="bracket-team loser">
        <div class="bracket-score"></div><div class="bracket-name"><input>     </input></div>
      </div>
      <div class="bracket-team winner">
        <div class="bracket-score"></div><div class="bracket-name"><input>     </input></div>
      </div>
    </div>
    <div class="bracket-matchup">
      <div class="bracket-team winner">
        <div class="bracket-score"></div><div class="bracket-name"><input>     </input></div>
      </div>
      <div class="bracket-team loser">
        <div class="bracket-score"></div><div class="bracket-name"><input>     </input></div>
      </div>
    </div>
    <div class="bracket-matchup">
      <div class="bracket-team winner">
        <div class="bracket-score"></div><div class="bracket-name"><input>     </input></div>
      </div>
      <div class="bracket-team loser">
        <div class="bracket-score"15></div><div class="bracket-name"><input>     </input></div>
      </div>
    </div>
    <div class="bracket-matchup">
      <div class="bracket-team winner">
        <div class="bracket-score"></div><div class="bracket-name"><input>     </input></div>
      </div>
      <div class="bracket-team loser">
        <div class="bracket-score"></div><div class="bracket-name"><input>     </input></div>
      </div>
    </div>
  </div>
  <div class="bracket-level">
    <div class="bracket-matchup"></div>
    <div class="bracket-matchup">
      <div class="bracket-team winner">
        <div class="bracket-score"></div><div class="bracket-name"><input>     </input></div>
      </div>
      <div class="bracket-team loser">
        <div class="bracket-score"></div><div class="bracket-name"><input>     </input></div>
      </div>
    </div>
    <div class="bracket-matchup"></div>
    <div class="bracket-matchup">
      <div class="bracket-team loser">
        <div class="bracket-score"></div><div class="bracket-name"><input>     </input></div>
      </div>
      <div class="bracket-team winner">
        <div class="bracket-score"></div><div class="bracket-name"><input>     </input></div>
      </div>
    </div>
    <div class="bracket-matchup"></div>
    <div class="bracket-matchup">
      <div class="bracket-team winner">
        <div class="bracket-score"></div><div class="bracket-name"><input>     </input></div>
      </div>
      <div class="bracket-team loser">
        <div class="bracket-score"></div><div class="bracket-name"><input>     </input></div>
      </div>
    </div>
    <div class="bracket-matchup"></div>
    <div class="bracket-matchup">
      <div class="bracket-team loser">
        <div class="bracket-score"></div><div class="bracket-name"><input>     </input></div>
      </div>
      <div class="bracket-team winner">
        <div class="bracket-score"></div><div class="bracket-name"><input>     </input></div>
      </div>
    </div>
  </div>
</div>

